/* TABLE OF CONTENTS:

1. Fixes
2. Menu
3. Breadcrumbs
4. Style Trx Addons
5. Sidebar
6. Typography & Shortcodes
7. Rev Slider
-------------------------------------------------------------- */



/* 1. Fixes
-------------------------------------------------------------- */
.top_panel > .vc_row > .wpb_column:nth-child(2) { z-index: 9; }
.top_panel > .vc_row > .wpb_column:nth-child(3) { z-index: 8; }
.top_panel > .vc_row > .wpb_column:nth-child(4) { z-index: 7; }
.top_panel > .vc_row > .wpb_column:nth-child(5) { z-index: 6; }
.top_panel > .vc_row > .wpb_column:nth-child(6) { z-index: 5; }
.top_panel > .vc_row > .wpb_column:nth-child(7) { z-index: 4; }
.top_panel > .vc_row > .wpb_column:nth-child(8) { z-index: 3; }
.top_panel > .vc_row > .wpb_column:nth-child(9) { z-index: 2; }
.top_panel > .vc_row > .wpb_column:nth-child(10) { z-index:1; }



/* 2. Menu
-------------------------------------------------------------- */
header .sc_layouts_row_type_compact .sc_layouts_item {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.top_panel_custom .sc_layouts_menu_nav > li > a,
.top_panel_custom .sc_layouts_menu_nav > li.menu-item-has-children > a {
    padding: 0.25em 1.253em;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav > li > a, .sc_layouts_menu_nav > li li > a {
    padding: 0.3em 1em;
    box-sizing: border-box;
}
.sc_layouts_menu_nav > li.menu-item-has-children > a:after {
    display: none !important;
}
.sc_layouts_menu_nav li li.menu-item-has-children > a:after  {
	display:inline-block;
	position:static;
	margin-left: 0.5em;
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}
.sc_layouts_menu_nav > li ul {
    border-radius: 6px;
    padding: 1em 0;
    top: 3em;
    text-align: center;
    left: -7em;
    right: -7em;
    margin-left: auto;
    margin-right: auto;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav,
.sc_layouts_menu_popup .sc_layouts_menu_nav > li > ul,
.sc_layouts_menu_nav > li > ul ul {
    top: -1em;
}
.sc_layouts_menu_nav > li > ul:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 7px 9px;
    border-color: transparent transparent #fafaf2 transparent;
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    margin: auto;
}

.menu_hover_slide_line > ul > li#blob {
    margin-top: 2em;
}
.menu_hover_slide_line > ul > li.blob_over.menu-item-has-children:hover ~ li#blob{
    opacity: 0 !important;
}

/* Fixed menu */
.sc_layouts_row_type_compact.sc_layouts_row_fixed_on, .sc_layouts_row_type_normal.sc_layouts_row_fixed_on {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}


/* 3. Breadcrumbs
-----------------------------------------------------------------*/
.breadcrumbs {
	font-size: 1.124em;
	line-height: normal;
}
.breadcrumbs .breadcrumbs_item {
	display:inline-block;
	vertical-align:top;
	white-space:nowrap; 
}
.breadcrumbs .breadcrumbs_delimiter {
	display:inline-block;
	position:relative;
	margin: 0 0.45em;
	vertical-align:top;
	text-align:center;
}
.breadcrumbs .breadcrumbs_delimiter:before {
	content:'/';
}
.breadcrumbs > * {
	opacity: 0.7;
}
.breadcrumbs > a:hover {
	opacity: 1;
}


/* 4. Style Trx Addons
-----------------------------------------------------------------*/
.sc_item_title + .sc_item_descr, 
.sc_item_subtitle + .sc_item_descr {
    margin-top: 3.3em;
}
footer .sc_item_title + .sc_item_descr, 
footer .sc_item_subtitle + .sc_item_descr {
    margin-top: 0.4em;
}

.single-post .sc_layouts_title_title > .sc_layouts_title_caption,
.sc_layouts_title_meta + .sc_layouts_title_title > .sc_layouts_title_caption {
	font-size: 2.5em;
}



/* 5. Sidebars
-------------------------------------------------------------- */

/* Common rules */
.sidebar .sidebar_inner {
	padding: 4.1rem 0;
}
.sidebar .widget {
	padding: 0 4.4rem;
}
.sidebar .widget .widget {
	padding: 0;
}
.sidebar .widget+.widget{
	padding-top: 4.2rem;
	margin-top: 3.8rem;
	border-top: 1px solid #000;
}
.sidebar .widget + .widget.widget_bg_image,
.sidebar[class*="scheme_"] .widget + .widget.widget_bg_image,
.sidebar .widget + .widget.widget_fullwidth,
.sidebar[class*="scheme_"] .widget + .widget.widget_fullwidth {
	border-top: none;
	padding-top: 4.2rem;
	padding-bottom: 4.2rem;
}
.sidebar .widget.widget_bg_image + .widget,
.sidebar[class*="scheme_"] .widget.widget_bg_image + .widget,
.sidebar .widget.widget_fullwidth + .widget,
.sidebar[class*="scheme_"] .widget.widget_fullwidth + .widget {
	border-top: none;
	margin-top: 0;
}

.widget p {
	margin:0;
}
.widget p+p,
.widget p+div,
.widget p+form {
	margin-top:1em;
}
.widget .widgettitle {
    font-size: 1.5em;
    line-height: 1.35em;
}
.widget .widget_title,
.widget .widgettitle {
	margin-top:0;
	margin-bottom: 1.15em;
}
.widget_fullwidth .widget_title,
.widget_fullwidth .widgettitle{
	text-align:center;
}
.widget ul {
	margin:0;
	padding-left: 0;
	list-style-type:none;
}
.widget ul ul {
	padding-left: 0.5em;
}
.widget ul ul ul ul {	/* Remove padding for the levels 4+ */
	padding-left: 0;
}
.widget li {
	position:relative;
}
.widget ul > li:before {
    content: ' ';
    display:block;
    width: 3px;
    height: 3px;
    position:absolute;
    left:-1.2em;
    top:0.8em;
    display: none;
}
.widget li a img {
	vertical-align:baseline;
}


/* Categories */
.widget_categories li+li {
	margin-top: 0.1em;
}

/* Recent Comments */
.widget_recent_comments ul li+li {
	margin-top: 1.52em;
}

/* Tags */
.sc_edd_details .downloads_page_tags .downloads_page_data > a, 
.widget_product_tag_cloud a, 
.widget_tag_cloud a {
    display: block;
    float: left;
    padding: 0.3em 0.8em;
    margin: 0 6px 6px 0;
    font-size: 0.873em !important;
    line-height: normal;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
}



/* 6. Typography & Shortcodes
-------------------------------------------------------------- */

/* Quote */
blockquote {
    position: relative;
    text-align: left;
    /*     padding: 4em 3.4em 3.2em 7.8em; */
    padding: 8% 14% 8% 16.2%;
}
blockquote p {
    margin: 0;
    font-size: 1em;
    line-height: 1.65;
    font-weight: normal;
    text-transform: none;
}
blockquote:before {
    content: '“';
    font-size: 7rem;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 0.091em;
    /* left: 0.56em; */
    left: 7%;
}
blockquote > a, blockquote > p > a,
blockquote > cite, blockquote > p > cite {
	display:block;
	font-size:1em;
	line-height: normal;
	font-weight:normal;
	font-style:normal;
	text-transform:none;
	margin-top: 2.4em;
	letter-spacing: normal;
}
blockquote.trx_addons_blockquote_style_2{
	padding: 1.3em 0 0 4em;
}
blockquote.trx_addons_blockquote_style_2:before {
    top: 0;
    left: 0;
    line-height: 1.1;
}

.post_layout_excerpt blockquote {
	margin-left:0;
	margin-right:0;
}

/* Table */
.sc_table table tr:first-child th, .sc_table table tr:first-child td {
	font-size: 1.125em;
	font-weight: 700;
	text-transform:none;
	font-style:normal;
	text-align: center;
	padding: 1em 1em;
}
.sc_table table tr:first-child th:first-child, .sc_table table tr:first-child th:last-child,
.sc_table table tr:first-child td:first-child, .sc_table table tr:first-child td:last-child,
.sc_table table td, .sc_table table th {
	border: none;
}
.sc_table table th, .sc_table table td {
	border-left: 1px solid;
	border-right: 1px solid;
}
.sc_table table tr:last-child td {
	border-bottom: 1px solid;
}
.sc_table table tr:first-child th:last-child,
.sc_table table tr:first-child td:last-child {
	border-right: 1px solid #db9e30;
}
.sc_table table td, .sc_table table th {
	padding: 1.2em 1em;
}


/* Tabs */
.wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-panel-body, 
.wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-panel-heading, 
.wpb-js-composer .vc_tta.vc_tta-style-classic .vc_tta-tab>a {
    border-width: 0;
}
html .wpb-js-composer .vc_tta.vc_general .vc_tta-tab>a {
    padding: 0.7em 1.3em;
    font-size: 1.125em;
    font-weight: bold;
}
html .vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
	background-color:transparent;
	border: none;
	padding: 0.7em 1.3em; 
}
html .vc_tta.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab + .vc_tta-tab {
	margin-left: 3px;
}
html .wpb-js-composer .vc_tta.vc_tta-shape-rounded .vc_tta-tabs-container {
    margin: 0;
    border-bottom: 3px solid #db9e30;
}
.wpb-js-composer .vc_tta.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels {
    background-color: transparent !important;
    border:none !important;
}
.wpb-js-composer .vc_tta.vc_general.vc_tta-tabs .vc_tta-panel-body {
	padding: 2em 0 0;
}
.wpb-js-composer .vc_tta.vc_general.vc_tta-tabs .vc_tta-panel-body img {
	margin-bottom: 1.2em;
}


/* Messages */
.vc_color-orange.vc_message_box-solid {
    color: #fff;
    border-color: transparent;
    background-color: #db9e30;
}
.vc_color-pink.vc_message_box-solid {
    color: #fff;
    border-color: transparent;
    background-color: #e95823;
}
.vc_color-green.vc_message_box-solid {
    color: #fff;
    border-color: transparent;
    background-color: #57a68f;
}



/* 7. Rev Slider
-------------------------------------------------------------- */

/* Bullet */
.custom .tp-bullet {
	border-radius: 50%;
	background: rgba(255,255,255,0.3);
	width: 9px;
	height: 9px;	
	-webkit-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	        transition: all ease .3s;
}
.custom .tp-bullet:hover, 
.custom .tp-bullet.selected {
    background: #fff;
}